[submodule "source/ChibiOS"]
	path = source/ChibiOS
	url = git@github.com:hrandib/ChibiOS.git

[submodule "source/chibios-qbs"]
	path = source/chibios-qbs
	url = git@github.com:hrandib/chibios-qbs.git
[submodule "source/lvgl"]
	path = source/lvgl
	url = git@github.com:hrandib/lvgl.git
[submodule "lvgl-qbs"]
	path = source/lvgl-qbs
	url = git@github.com:hrandib/lvgl-qbs.git
[submodule "u8g2"]
	path = source/u8g2
	url = git@github.com:hrandib/u8g2.git
[submodule "source/SSD1306Ascii"]
	path = source/SSD1306Ascii
	url = git@github.com:hrandib/SSD1306Ascii.git
