[submodule "source/ChibiOS"]
	path = source/ChibiOS
	url = git@github.com:hrandib/ChibiOS.git

[submodule "source/chibios-qbs"]
	path = source/chibios-qbs
	url = git@github.com:hrandib/chibios-qbs.git
[submodule "source/lvgl"]
	path = source/lvgl
	url = git@github.com:hrandib/lvgl.git
[submodule "lvgl-qbs"]
	path = source/lvgl-qbs
	url = git@github.com:hrandib/lvgl-qbs.git
